#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 0;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 0px
}

.popupTitle {
    font-size: 25px;
    font-family: inherit;
    border: none;
    border-color: transparent;
    outline: none;
    width: inherit;
    padding-bottom: 1rem;
}

.popupDescription {
    font-size: 13px;
    font-family: inherit;
    border: none;
    border-color: transparent;
    outline: none;
    width: inherit;
    font-style: italic;
    padding-bottom: 2rem;
}

#nameWin {
    text-align: center;
    vertical-align: middle
}

#poiBlogContainer {
    position: fixed;
	bottom:0;
    width: 100%;
    height: 0px;
    z-index: 1;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

#poiBlogHeader {
    height: 15%;
    position: relative;
    top: 2%;
}

.poiBlogImgDiv {
    padding-left: 5%;
    width: 10%;
    float: left;
    position: absolute;
    bottom: 0;
}

.poiBlogTitleDiv {
    padding-right: 5%;
    padding-left: 20%;
    text-align: left;
    width: 50%;
    float: right;
    position: absolute;
    bottom: 0;
}

iconPick {
    cursor: pointer;
}

/********** MENUS **************/

.sidebar {
    height: 100%; /* bottom to top */
    width: 0; /* change with js */
    position: fixed; /* don't move */
    z-index: 1; /* stay on top for as long as open */
    top: 0; /* right up against the top */
    left: 0; /* right up against the left */
    background-color: floralwhite;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 2%; /* place start of contents 2% from top */
    transition: 0.5s; /* transition time to slide into place */
}

/* The button IN the sidebar used to CLOSE the sidebar */

.sidebar .closeButton {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: large;
    margin-left: 80%;
}

/* The button used to OPEN the sidebar */
#sidebarButton {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    padding-right: 3%;
    padding-top: 3%;
    transition: margin-left 0.5s;
    padding: 20px;
    display: inline-block;
}

#sidebarButton .menuButton {
    width: 75px;
    height: 75px;  
    opacity: 100%;
}

/* TODO: add sidebar content styling */

/* -----------------new POI---------------- */

emoji-picker {
    width: 100%;
    height: 100%;
  }